/* body{

    background-color:lightblue;
    margin: 0;
    padding: 0;

}
 #container{
    width: 21cm;
    height: 29,7cm;
    background-color: white;
    /* margin-left: 5%; */
    
/*     
 }
 #gauche{
    width: 30%;
   
    background-color: gray;
    margin-left: 5%;
    position: relative;
 }
 #gauche2{
    width: 100%;
    height: 30%;
    background-color: black;
    border-radius: 0px 0px 115px 115px;
 }
 #lebas{
    width: 90%;
    height: 50%;
    background-color: black;
    margin-top: 110%;
    margin-left: 5%;
    border-radius: 105px 105px 0px 0px ;
   
 }
 #pre{
    color: white;
    font-size: 17px;
    margin-left: 16%;
    position: relative;
    bottom: -13px;
 }
 #p{
    color: white;
    font-size: 13px ;
    margin-left: 31%;
    position: relative;
    bottom: -6px;

 }
 #image{
    width: 85%; 
    margin-left: 19px;
    position: relative;
    bottom: 5px;
    margin-top: 8%;

 }
 #cont{
  position: relative;
  bottom: 618px;
  width:  18%;
  height: 30%;
  margin-left: 20px;
 }
 #inf{
    font-size: 12px ;
    position: relative;
    bottom: 653px;
    margin-left: 33%;
    
 }
 #tel{
  position: relative;
  bottom: 650px;
  width:  17%;
  margin-left: 20px;
 }
 #num{
    position: relative;
    bottom: 689px;
    font-size: 12px;
    margin-left: 53px;
 }
 #mail{
    position: relative;
    bottom: 683px;
    width: 16%;
    margin-left: 20px;

 }
 #email{
    position: relative;
    bottom: 719px;
    font-size: 12px;
    margin-left: 55px;
 }
 #adress{
    position: relative;
    bottom: 715px;
    margin-left: 20px;
    width: 16%;
 }
 #res{
    position: relative;
    bottom: 751px;
    font-size: 12px;
    margin-left: 55px;
 }
#chap{
    position: relative;
    bottom: -40px;
    width: 22%;
    margin-left: 15px;
}
#educ{
    color: white;
    font-size: 14px;
    margin-left: 37%;
    position: relative;
    bottom: 2px;

}
#ista{
    color: white;
    font-size: 12px;
    margin-left: 7%;
    position: relative;
    bottom: 4px;


}
#his{
    color: white;
    font-size: 11px ;
    margin-left: 7%;
    position: relative;
    bottom: 9px;

}
#l2{
    color: white;
    font-size: 10px;
    position: relative;
    bottom: 12px;
    margin-left: 7%;
}
#bac{
    color: white;
    font-size: 10px;
    position: relative;
    bottom: 14px;
    margin-left: 7%;

}
#ref{
    color: white;
    width: 17%;
    margin-left: 11px;
    position: relative;
    bottom: 10px;
}
#ref1{
    color: white;
    font-size: 12px;
    position: relative;
    bottom: 45px;
    margin-left: 45px;
}
#ref2{
    color: white;
    font-size: 12px;
    margin-left: 11px;
    position: relative;
    bottom: 40px;
}
#section{
    position: relative;
    bottom: -10px;
}
#propos{
    position: relative;
    bottom: 685px;
    margin-left: 142px;
}
#info{
    position: relative;
    bottom:  730px;
    margin-left: 182px;
}
#plus{
    position: relative;
    bottom:  730px;
    font-size: 15px;
    width: 75%;
    margin-left: 150px;
}
#exp{
    position: relative;
    bottom: 730px; 
    margin-left: 143px;
}
#ref3{
    position: relative;
    bottom: 775px;
    font-size: 16px;
    margin-left: 179px;

}
#ref4{
    position: relative;
    bottom:  780px;
    font-size: 15px;
    width: 60%;
    margin-left: 150px;
}
#comp{
    position: relative;
    bottom: 780px; 
    margin-left: 142px;
}
#cmp{
    position: relative;
    bottom: 825px;
    margin-left: 184px;
}
#ref5{
    position: relative;
    bottom: 830px;
    margin-left: 145px;
    font-size: 12px;
}

.bare-competence{
    display: flex;
    margin-left: 7%;

}

.bare1, .bare2{
    width: 40px;
    height: 8px;
    position: relative;
    bottom: 831px;
    background-color: black
}
.bare2{
    width: 15px;
    background-color: #D9D9D9;
}
.competence{
    
    display: flex;
    align-items: center;
}
#ref6{
    position: relative;
    bottom: 840px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence1 .bare3, .bare4{
    width: 30px;
    height: 8px;
    position: relative;
    bottom: 840px;
    
    background-color: black
}

.bare4{
    width: 25px;
    background-color: #D9D9D9;
}
.bare-competence1{
    display: flex;
    margin-left: 3%;
}
#ref7{
    position: relative;
    bottom: 850px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence2 .bare5, .bare6{
    width: 25px;
    height: 8px;
    position: relative;
    bottom: 850px;
    background-color: black
}

.bare6{
    width: 30px;
    background-color: #D9D9D9;
}
.bare-competence2{
    display: flex;
    margin-left: 8%;
}
#langue{
    position: relative;
    bottom: 845px;
    margin-left: 142px;
}
#lang{
    position: relative;
    bottom:  888px;   
    margin-left: 184px;
}
#ref8{
    position: relative;
    bottom: 895px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence3 .bare7, .bare8{
    width: 40px;
    height: 8px;
    position: relative;
    bottom: 895px;
    background-color: black
}

.bare-competence3{
    display: flex;
    margin-left: 4%;
}
#ref9{
    position: relative;
    bottom: 900px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence4 .bare9, .bare10{
    width: 25px;
    height: 8px;
    position: relative;
    bottom: 900px;
    background-color: black;
}

.bare10{
    width: 54px;
    background-color: #D9D9D9;
}
.bare-competence4{
    display: flex;
    margin-left: 5%;
}
#loisir{
    position: relative;
    bottom: 895px;
    margin-left: 145px;
    width: 7%;
}
.points .point1{
    width: 10px;
    height: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    position: relative;
    bottom: 885px;
}
.points{
    display: flex;
    margin-left: 30%;
}

#mu{
    position: relative;
    bottom: 912px;
    margin-left: 174px;
    font-size: 15px;
}

.points .point2{
    width: 10px;
    height: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    position: relative;
    bottom: 900px;
    
}
#vo{
    position: relative;
    bottom: 927px;
    margin-left: 174px;
    font-size: 15px;
}
#section1{
    margin-left: 20%;
    position: relative;
    bottom: 565px;

}
#btn1{
    position: relative;
    bottom: 800px;
    margin-left: 235px;
    height: 10%;
}

#btn2{
    position: relative;
    bottom: 800px;
    margin-left: 380px;
    height: 10%;
}
#btn3{
    position: relative;
    bottom: 1020px;
    margin-left: 300px;
    height: 10%;
} */ 
/* .btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    width: 140px;
 } */
  :root{
    --bg-color:black;
  }

html , body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
     width: 21cm;
     height: 29.7cm;
     background-color: white;
     margin: 5%;
     display: flex;
     justify-content: start;

}

#gauche{
     width: 30%;
     height: 100%;
     background-color: gray;
     margin-left: 5%;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     

}
#section1{
    width: 60%;
    height: 100%;
    margin-top: 30px;
    margin-left: 3%;
   
}
 #gauche2{
    width: 100%;
    height: 25%;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 0px 0px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #pre{
    color: white;
    font-size: 17px;
 }
 #p{
    color: white;
    font-size: 13px;
 }
 #lebas{
   height: 52%;
    background-color: var(--bg-color);
    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 5%;
    margin-right: 5%;
    /*margin-top: -92%;*/
    
 }

 #image{
      width: 92%;
      height: 61%;


 }
 #section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px; 
 }
 #cont{
  /* position: absolute;
  bottom: 618px;
  
  margin-left: 20px; */

    margin-right: 120px;
    position: absolute;
    bottom: 770px;
    width: 20%;
 }
 #inf{
    position: absolute;
    bottom: 768px;
    font-size: medium;
    font-size: 15px;  
    margin-left: 60px;

 }
 #tel{
    position: absolute;
    bottom: 720px;
    margin-right: 58%;
    width: 20%;
 }
 #num{
    position: absolute;
    bottom: 715px;
    margin-left: 20%;
 }
 #mail{
    position: absolute;
    bottom: 680px;
    margin-right: 58%;
 }
 #email{
    position: absolute;
    bottom: 667px;
    margin-left:  25%;

 }
 #adress{
    position: absolute;
    bottom: 635px;
    margin-right: 58%;
    width: 17%;
 }
 #res{
    position: absolute;
    bottom: 625px;
    margin-left:  19%;
 }
 #chap{
    position: absolute;
    bottom: 494px;
    width: 20%;
    margin-left:  6%;
 }
 #educ{
    margin-left:  30%;
    position: absolute;
    bottom: 487px;
    color: white;
    font-size: 17px;
 }
 #ista{
    position: absolute;
    bottom: 454px;
    margin-left:  5%;
    color: white;
 }
 #his{
    position: absolute;
    bottom: 412px;
    margin-left:  5%;
    color: white;
 }
 #l2{
    position: absolute;
    bottom: 350px;
    margin-left:  5%;
    color: white;
 }
 #bac{
    position: relative;
    bottom: 22px;
    margin-left:  5%;
    color: white;
    font-size: 18px;
 }
 #ref{
    position: absolute;
    bottom: 235px;
    width: 16%;
    margin-left:  5%;
 }
 #ref1{
    position: absolute;
    bottom: 223px;
    margin-left:  25%;
    color: white;
    font-size: 18px;
 }

 #ref2{
    position: absolute;
    bottom: 120px;
    margin-left:  5%;
    color: white;
 }
 #propos{
    width: 10%;
 }
 #info{
    position: relative;
    bottom: 4.5%;
    margin-left:  13%;

 }
 #plus{
    position: relative;
    bottom: 4%;
 }
 #exp{
    position: relative;
    top: -4%;
    width: 10%;
 }
 #ref3{
    position: relative;
    top: -8.5%;
    margin-left:  12%;
    font-size: 18px;
 }
 #ref4{
    position: relative;
    top: -8%;  
 }
#comp{
    position: relative;
    top: -8%;
    width: 10%;
}
#cmp{
    position: relative;
    bottom: 12.5%;
    margin-left:  13%;
    font-size: 18px;
}

.competence{
    position: relative;
    bottom: 13%;
    display: flex;
    align-items: center;
}
.bare1, .bare2{
    width: 70px;
    height: 8px;
    background-color: var(--bg-color); 
    
} 

.bare-competence{
    display: flex;
    margin-left: 11%;
}
 .bare2{
    width: 15px;
    background-color: #D9D9D9;
} 

.bare3, .bare4{
    width: 60px;
    height: 8px;
    background-color: var(--bg-color); 
    
} 

.bare-competence1{
    display: flex;
    margin-left: 6%;
}
 .bare4{
    width: 25px;
    background-color: #D9D9D9;
} 

.bare5, .bare6{
    width: 50px;
    height: 8px;
    background-color: var(--bg-color); 
    
} 

.bare-competence2{
    display: flex;
    margin-left: 12%;
}
 .bare6{
    width: 35px;
    background-color: #D9D9D9;
} 
#langue{
    position: relative;
    bottom: 130px;
    width: 10%;
}
#lang{
    position: relative;
    bottom: 182px;
    margin-left: 13%;
    font-size: 18px;
}
.bare7, .bare8{
    width: 43px;
    height: 8px;
    background-color: var(--bg-color); 
    
} 
.bare-competence3{
    display: flex;
    margin-left: 6%;
}

.bare9, .bare10{
    width: 25px;
    height: 8px;
    background-color:var(--bg-color); 
    
} 

.bare-competence4{
    display: flex;
    margin-left: 7%;
}
 .bare10{
    width: 60px;
    background-color: #D9D9D9;
} 
.competenceF{
    position: relative;
    bottom: 185px;
    display: flex;
    align-items: center;
}
#loisir{
    position: relative;
    bottom: 175px;
    width: 10%;
}

.points .point1{
    width: 10px;
    height: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--bg-color);
    position: relative;
    bottom: 154px;
}
.points{
    display: flex;
    margin-left: 2%;
}
#mu{
    position: relative;
    bottom: 185px;
    margin-left: 40px;
    font-size: 17px;
}
.points .point2{
    width: 10px;
    height: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--bg-color);
    position: relative;
    bottom: 170px;
}
.points{
    display: flex;
    margin-left: 2%;
}
#vo{
    position: relative;
    bottom: 203px;
    margin-left: 40px;
    font-size: 17px;
}
.btn{
    display: inline-block;
    padding: 10px;
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    width: 120px;
    height: 15px;
    margin:  10px;
    
 } 
 



 



 
















 /* ----------------------------------------------------------------------------- */
@media   (max-width:795px)  {
    body{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
      
     }
     #container{
        width: 100vw;
        height: 29.7cm;
        margin: 0;

     }
     #info{
        position: relative;
        bottom: 3.5%;
     }
     #inf {
        position: absolute;
        bottom: 772px;
        font-size: medium;
        font-size: 13px;
        margin-left: 42px;
    }
    #cont {
        margin-right: 111px;
        position: absolute;
        bottom: 775px;
        width: 23%;
    }
    }
    @media (max-width:545px) {
        #pre {
            color: white;
            font-size: 9px;
            position: relative;
            bottom: 12px;
        }
        #p {
            color: white;
            font-size: 8px;
            position: relative;
            top: -8%;
        }
        #tel {
            position: absolute;
            bottom: 729px;
            margin-right: 63%;
            width: 20%;
        }
        #num {
            position: absolute;
            bottom: 722px;
            margin-left: 24%;
            font-size: 10px;
        }
        #mail {
            position: absolute;
            bottom: 692px;
            margin-right: 62%;
            width: 20%;
        }
        #email {
            position: absolute;
            bottom: 688px;
            margin-left: 26%;
            font-size: 8px;
        }
        #adress {
            position: absolute;
            bottom: 650px;
            margin-right: 66%;
            width: 20%;
        }
        #res {
            position: absolute;
            bottom: 642px;
            margin-left: 20%;
            font-size: 10px;
        }
        #info {
            position: relative;
            margin-top: 4%;
        }
        #ref2 {
            position: absolute;
            bottom: 327px;
            margin-left: 7%;
            color: white;
            font-size: 45%;
        }
        #ref1 {
            position: absolute;
            bottom: 379px;
            margin-left: 27%;
            color: white;
            font-size: 8px;
        }
        #ref {
            position: absolute;
            bottom: 385px;
            width: 16%;
            margin-left: 6%;
        }
        #bac {
            position: relative;
            bottom: 140px;
            margin-left: 6%;
            color: white;
            font-size: 10px;
        }
        #l2 {
            position: absolute;
            bottom: 448px;
            margin-left: 6%;
            color: white;
            font-size: 9px;
        }
        #his {
            position: absolute;
            bottom: 485px;
            margin-left: 6%;
            color: white;
            font-size: 8px;
        }
        #ista {
            position: absolute;
            bottom: 512px;
            margin-left: 5%;
            color: white;
            font-size: 7px;
        }
        #educ {
            margin-left: 38%;
            position: absolute;
            bottom: 532px;
            color: white;
            font-size: 7px;
        }
        #chap {
            position: absolute;
            bottom: 531px;
            width: 23%;
            margin-left: 10%;
        }
        #inf {
            position: absolute;
            bottom: 774px;
            font-size: medium;
            font-size: 7px;
            margin-left: 30px;
        }
        #cont {
            margin-right: 58px;
            position: absolute;
            bottom: 775px;
            width: 21%;
        }
        #lang {
            position: relative;
            bottom: 175px;
            margin-left: 13%;
            font-size: 18px;
        }
        #cmp {
            position: relative;
            bottom: 12%;
            margin-left: 13%;
            font-size: 18px;
        }


        
    }
    
 /* ---------------------------------------------------------------------------------- */


