/* body{

    background-color:lightblue;
    margin: 0;
    padding: 0;

}
 #container{
    width: 21cm;
    height: 29,7cm;
    background-color: white;
    /* margin-left: 5%; */
    
/*     
 }
 #gauche{
    width: 30%;
   
    background-color: gray;
    margin-left: 5%;
    position: relative;
 }
 #gauche2{
    width: 100%;
    height: 30%;
    background-color: black;
    border-radius: 0px 0px 115px 115px;
 }
 #lebas{
    width: 90%;
    height: 50%;
    background-color: black;
    margin-top: 110%;
    margin-left: 5%;
    border-radius: 105px 105px 0px 0px ;
   
 }
 #pre{
    color: white;
    font-size: 17px;
    margin-left: 16%;
    position: relative;
    bottom: -13px;
 }
 #p{
    color: white;
    font-size: 13px ;
    margin-left: 31%;
    position: relative;
    bottom: -6px;

 }
 #image{
    width: 85%; 
    margin-left: 19px;
    position: relative;
    bottom: 5px;
    margin-top: 8%;

 }
 #cont{
  position: relative;
  bottom: 618px;
  width:  18%;
  height: 30%;
  margin-left: 20px;
 }
 #inf{
    font-size: 12px ;
    position: relative;
    bottom: 653px;
    margin-left: 33%;
    
 }
 #tel{
  position: relative;
  bottom: 650px;
  width:  17%;
  margin-left: 20px;
 }
 #num{
    position: relative;
    bottom: 689px;
    font-size: 12px;
    margin-left: 53px;
 }
 #mail{
    position: relative;
    bottom: 683px;
    width: 16%;
    margin-left: 20px;

 }
 #email{
    position: relative;
    bottom: 719px;
    font-size: 12px;
    margin-left: 55px;
 }
 #adress{
    position: relative;
    bottom: 715px;
    margin-left: 20px;
    width: 16%;
 }
 #res{
    position: relative;
    bottom: 751px;
    font-size: 12px;
    margin-left: 55px;
 }
#chap{
    position: relative;
    bottom: -40px;
    width: 22%;
    margin-left: 15px;
}
#educ{
    color: white;
    font-size: 14px;
    margin-left: 37%;
    position: relative;
    bottom: 2px;

}
#ista{
    color: white;
    font-size: 12px;
    margin-left: 7%;
    position: relative;
    bottom: 4px;


}
#his{
    color: white;
    font-size: 11px ;
    margin-left: 7%;
    position: relative;
    bottom: 9px;

}
#l2{
    color: white;
    font-size: 10px;
    position: relative;
    bottom: 12px;
    margin-left: 7%;
}
#bac{
    color: white;
    font-size: 10px;
    position: relative;
    bottom: 14px;
    margin-left: 7%;

}
#ref{
    color: white;
    width: 17%;
    margin-left: 11px;
    position: relative;
    bottom: 10px;
}
#ref1{
    color: white;
    font-size: 12px;
    position: relative;
    bottom: 45px;
    margin-left: 45px;
}
#ref2{
    color: white;
    font-size: 12px;
    margin-left: 11px;
    position: relative;
    bottom: 40px;
}
#section{
    position: relative;
    bottom: -10px;
}
#propos{
    position: relative;
    bottom: 685px;
    margin-left: 142px;
}
#info{
    position: relative;
    bottom:  730px;
    margin-left: 182px;
}
#plus{
    position: relative;
    bottom:  730px;
    font-size: 15px;
    width: 75%;
    margin-left: 150px;
}
#exp{
    position: relative;
    bottom: 730px; 
    margin-left: 143px;
}
#ref3{
    position: relative;
    bottom: 775px;
    font-size: 16px;
    margin-left: 179px;

}
#ref4{
    position: relative;
    bottom:  780px;
    font-size: 15px;
    width: 60%;
    margin-left: 150px;
}
#comp{
    position: relative;
    bottom: 780px; 
    margin-left: 142px;
}
#cmp{
    position: relative;
    bottom: 825px;
    margin-left: 184px;
}
#ref5{
    position: relative;
    bottom: 830px;
    margin-left: 145px;
    font-size: 12px;
}

.bare-competence{
    display: flex;
    margin-left: 7%;

}

.bare1, .bare2{
    width: 40px;
    height: 8px;
    position: relative;
    bottom: 831px;
    background-color: black
}
.bare2{
    width: 15px;
    background-color: #D9D9D9;
}
.competence{
    
    display: flex;
    align-items: center;
}
#ref6{
    position: relative;
    bottom: 840px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence1 .bare3, .bare4{
    width: 30px;
    height: 8px;
    position: relative;
    bottom: 840px;
    
    background-color: black
}

.bare4{
    width: 25px;
    background-color: #D9D9D9;
}
.bare-competence1{
    display: flex;
    margin-left: 3%;
}
#ref7{
    position: relative;
    bottom: 850px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence2 .bare5, .bare6{
    width: 25px;
    height: 8px;
    position: relative;
    bottom: 850px;
    background-color: black
}

.bare6{
    width: 30px;
    background-color: #D9D9D9;
}
.bare-competence2{
    display: flex;
    margin-left: 8%;
}
#langue{
    position: relative;
    bottom: 845px;
    margin-left: 142px;
}
#lang{
    position: relative;
    bottom:  888px;   
    margin-left: 184px;
}
#ref8{
    position: relative;
    bottom: 895px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence3 .bare7, .bare8{
    width: 40px;
    height: 8px;
    position: relative;
    bottom: 895px;
    background-color: black
}

.bare-competence3{
    display: flex;
    margin-left: 4%;
}
#ref9{
    position: relative;
    bottom: 900px;
    margin-left: 145px;
    font-size: 12px;
}
.bare-competence4 .bare9, .bare10{
    width: 25px;
    height: 8px;
    position: relative;
    bottom: 900px;
    background-color: black;
}

.bare10{
    width: 54px;
    background-color: #D9D9D9;
}
.bare-competence4{
    display: flex;
    margin-left: 5%;
}
#loisir{
    position: relative;
    bottom: 895px;
    margin-left: 145px;
    width: 7%;
}
.points .point1{
    width: 10px;
    height: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    position: relative;
    bottom: 885px;
}
.points{
    display: flex;
    margin-left: 30%;
}

#mu{
    position: relative;
    bottom: 912px;
    margin-left: 174px;
    font-size: 15px;
}

.points .point2{
    width: 10px;
    height: 8px;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    position: relative;
    bottom: 900px;
    
}
#vo{
    position: relative;
    bottom: 927px;
    margin-left: 174px;
    font-size: 15px;
}
#section1{
    margin-left: 20%;
    position: relative;
    bottom: 565px;

}
#btn1{
    position: relative;
    bottom: 800px;
    margin-left: 235px;
    height: 10%;
}

#btn2{
    position: relative;
    bottom: 800px;
    margin-left: 380px;
    height: 10%;
}
#btn3{
    position: relative;
    bottom: 1020px;
    margin-left: 300px;
    height: 10%;
} */ 
/* .btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    width: 140px;
 } */
html , body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
     width: 21cm;
     height: 29.7cm;
     background-color: white;
     margin: 5%;
     display: flex;
     justify-content: start;

}

#gauche{
     width: 30%;
     height: 100%;
     background-color: gray;
     margin-left: 5%;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     

}
#section1{
    width: 60%;
    height: 100%;
   
}
 #gauche2{
    width: 100%;
    height: 25%;
    background-color: black;
    position: absolute;
    border-radius: 0px 0px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 #pre{
    color: white;
    font-size: 17px;
 }
 #p{
    color: white;
    font-size: 13px;
 }
 #lebas{
   /* width: 100%;*/
    background-color: beige;
    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-left: 5%;
    margin-right: 5%;
    /*margin-top: -92%;*/
    
 }

 #image{
      width: 92%;
      height: 61%;


 }
 #section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
 }

 /* ----------------------------------------------------------------------------- */
@media (max-width:795px) {
    body{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
      
     }
     #container{
        width: 100vw;
        height: 29.7cm;
        margin: 0;

     }
    }
    
 /* ---------------------------------------------------------------------------------- */


