#accueil{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.conteneur{

    background-color: white;
    padding: 20px;
    text-align: center;
    width: 375px;
    height: 818px ;
    
    
}
.image{
    width: 100%;
    
}
 h2{
    font-size: 35px;
    
 }
 p{
    font-size: 22px;
 }

 .btn{
    display: inline-block;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
 }

 .btn:hover{
    background-color: gray;
 }
 .section1{
  position: relative;
  bottom: -7%;


 }

 